# Dependencies
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Testing
coverage/

# Build outputs
.next/
out/
dist/
build/
target/

# Git
.git/
.gitignore

# IDE
.idea/
.vscode/
*.swp

# Env files
.env*.local
.env

# OS
.DS_Store
Thumbs.db
